# Firebase credentials
src/lib/firebase.ts

# Local environment variables
.env.local
.env

# Next.js build output
.next/
out/

# Node dependencies
node_modules/

# Data
data/StockEtablissement_utf8.csv